body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-size: large;
    font-weight: 500;
    margin: 6px 0 6px 0;
}

.search-block {
    width: 500px;
}

.search-text-input {
    width: 100%;
    border: 1px solid #d7d7d7;
    padding: 6px;
    font-weight: 500;
    border-radius: 5px;
}

.search-text-input:focus {
    border: 1px solid #2799d6;
}

.adv-search-block {
    display: none;
}

.adv-search-btn-block {
    text-align: right;
}

.btn-adv-search {

}

.btn-adv-search:link {
    color: #2799d6;
    text-decoration: none;
}

.btn-adv-search.active {
    color: lightgray;
}

.btn-search {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #2799d6;
    width: 100%;
    padding: 6px;
    font-weight: 500;
}

.tenders-table {
    padding: 6px 0 6px 0;
}

.tenders-row {
    display: block;
    width: 900px;
}

.tenders-left {
    width: 50%;
    float: left;
    display: inline-block;
}

.tenders-center {
    width: 30%;
    float: left;
    display: inline-block;
}

.tenders-right {
    width: 20%;
    float: right;
    display: inline-block;
}

.tenders-number a {
    font-weight: 500;
    color: #222;
    text-decoration: none;
}

.tenders-name a {
    font-weight: normal;
    color: #065894;
}

.tenders-date {

}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
